@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* Nav bar styling */
#nav-bar {
    font-family: "Encode sans", sans-serif;
    background-color: hsl(0, 0%, 97%);
    width: 30%;
    height: 100%;
    float: left;
    position: fixed;
}

#nav-bar li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #383838;
    font-size: 32px;
    margin-right: 30px;
    padding-bottom: 20px;
}

#nav-bar li a {
    text-decoration: none;
    margin-left: 30px;
    color: #383838;
}

#nav-bar li a:hover {
    background-color: #383838;
    color:hsl(0, 0%, 97%);
}

#nav-bar img {
    height: 300px;
    width: 100%;
}

#nav-bar footer {
    text-align: center;
}

/*Page header*/