@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* Nav bar styling */
#nav-bar {
    font-family: "Encode sans", sans-serif;
    background-color: hsl(0, 0%, 97%);
    width: 30%;
    height: 100%;
    float: left;
    position: fixed;
}

#nav-bar li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #383838;
    font-size: 32px;
    padding-bottom: 20px;
    margin: 5px 30px 0 0;
}

#nav-bar li a {
    text-decoration: none;
    margin-left: 30px;
    color: #383838;
}

#nav-bar li a:hover {
    background-color: #383838;
    color:hsl(0, 0%, 97%);
}

#nav-bar img {
    margin: 20px 0 0 0;
    height: 300px;
    width: 100%;
}

.nav-bar-footer {
    text-align: center;
    color:#383838;
}

/* Current issue with hover characteristic on footer icons */

/*Page header*/

#hero-image {
    height: 500px;
    width: 70%;
    float: right;
}

/* Home page */
#intro {
    width: 70%;
    text-align: center;
    float: right;
}