@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Encode sans", sans-serif;
    color:#383838;
}
/* Nav bar styling */

.nav-bar {
    background-color: hsl(0, 0%, 97%);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    position: fixed;
    align-items: stretch;
}

.nav-bar li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #383838;
    font-size: 32px;
    padding-bottom: 20px;
    margin: 5px 0 0 0;
}

.nav-bar li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #383838;
}

.nav-bar li a:hover {
    background-color: #383838;
    color:hsl(0, 0%, 97%);
}

.nav-bar img {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
}

.nav-bar-footer {
    text-align: center;
    color:#383838;
}

.nav-bar-footer p {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.nav-bar-footer li a:hover {
    background-color: hsl(0, 0%, 97%);
}

/* Main footer free code camp*/

#main-footer {
    position: relative;
    bottom: 0;
    width: 70%;
    height: 2.5rem;
    float: right;
    padding-top: 10px;
    text-align: center;
    font-style: italic;
}
/*Page header*/

#hero-image {
    height: 500px;
    width: 70%;
    float: right;
}

#header h1 {
    float: right;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

/* Get header to be above mountain in image */

/* Home page */

#master-container {
    width: 70%;
    text-align: center;
    float: right;
    height: 100%;
}

#master-container h2 {
    font-weight: bolder;
    font-size: 32px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.container {
    height: 30%;
    display: block
}

.intro-para {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 20px;
}

.intro-para img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    align-self: flex-end;
}

.why-para {
    display: flex;
    justify-content: flex-end;
}

.why-para img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.goals-para img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

/*Contact page*/

#contact-container {
    width: 70%;
    text-align: center;
    float: right;
    height: 100%;
}
#contact-us {
    margin-top: 10px;
    border: solid 1px #383838;
}

#contact-container p {
    margin-top: 10px;
}

/*Equipment page*/

#equipment-container {
    width: 70%;
    text-align: center;
    float: right;
    height: 100%;
}

/*Walks page*/

#walks-container {
    width: 70%;
    text-align: center;
    float: right;
    height: 100%;
}